<header>
    <h1>Book Re-Lease</h1>
    <nav>
        <ul class="nav-menu">
            <li><a href="/browse">Browse Books</a></li>
            <li><a href="/index">Post Your Book</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/login" id="logout">Logout</a></li>
        </ul>
    </nav> 
</header>